.my-default-link:hover{
    font-style: italic;
}

.my-table-link{
    color: #333;
}

.my-table-link:hover{
    color: #333;
    font-style: italic;
}

.my-table-link-view{
    font-size: 12px;
    font-weight: bold;
}

.my-table-link-view:hover{
    font-style: italic;
}

.my-table-link-delete{
    color: #ff0000;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 0;
}

.my-table-link-delete:hover{
    color: #ff0000;
    font-style: italic;
}

#new-status-form{
    background-color: #f7f7f7;
    margin-bottom: 30px;
    display: none;
}

#new-status-form form{
    padding: 0 20px 20px 20px;
}

#new-shipment-step1
{
    background-color: #f7f7f7;
}

#new-shipment-step-option2
{
    background-color: #f7f7f7;
    margin-bottom: 30px;
}



#new-shipment-step1 form, #new-shipment-step-option2 form
{
    padding: 0 20px 20px 20px;
}

.my-form-title{
    font-weight: bold;
    background-color: rgb(202, 202, 202);
    padding: 5px 20px;
    margin-bottom: 30px;
}

.my-box{
    background-color: #f7f7f7;
    margin-bottom: 30px;
}

.my-box-title{
    font-weight: bold;
    background-color: rgb(202, 202, 202);
    padding: 5px 20px;
}

.my-box-content{
    padding: 10px 20px;
}

.main-info{
    font-size: 110%;
    font-weight: bold;
}

.tracking-code{
    font-size: 130%;
    font-weight: bold;
}

.table-borderless td, .table-borderless th{
    border: none;
}

.info-set{
    background-color: #fbfbfb;
    padding: 20px 20px 0 20px;
    border-radius: 3px;
    margin-bottom: 30px;
}